@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Metropolis:wght@700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Kiona';
  src: url('https://fonts.cdnfonts.com/s/19794/KIONA-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --bg-dark: #070402;
  --cream-light: #E6E1D7;

  --font-inter: 'Inter', sans-serif;
  --font-metropolis: 'Metropolis', sans-serif;
  --font-kiona: 'Kiona', sans-serif;
}

body {
  background-color: var(--bg-dark);
  color: var(--cream-light);
  font-family: var(--font-inter);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.font-metropolis {
  font-family: var(--font-metropolis);
}

.font-kiona {
  font-family: var(--font-kiona);
}

.font-inter {
  font-family: var(--font-inter);
}

.film-grain {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}

/* Recomendado por Lenis para suavidad fluida constante */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}